USE [Presupuesto]
GO
/****** Object:  Table [dbo].[Puestos]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PresupuestoId] [int] NOT NULL,
	[PosicionId] [int] NULL,
	[NombrePosicion] [nvarchar](255) NULL,
	[PuestoId] [int] NULL,
	[GradoId] [int] NOT NULL,
	[EmpleadoId] [nvarchar](10) NULL,
	[NombreEmpleado] [nvarchar](255) NULL,
	[MotivoEstatus] [nvarchar](255) NULL,
	[FechaEstatus] [date] NULL,
	[EmpresaId] [nvarchar](5) NOT NULL,
	[Negocio] [nvarchar](255) NULL,
	[Division] [nvarchar](255) NULL,
	[Departamento] [nvarchar](255) NULL,
	[Vicepresidencia] [nvarchar](255) NULL,
	[CeCoId] [nvarchar](20) NOT NULL,
	[EscenarioId] [int] NOT NULL,
	[FechaContratacion] [date] NULL,
	[FechaNacimiento] [date] NULL,
	[ComisionesPromedio] [decimal](18, 4) NULL,
	[SalarioBase] [decimal](18, 4) NULL,
	[Comisiones] [decimal](18, 4) NULL,
	[TotalCash] [decimal](18, 4) NULL,
	[CantidadSalarios] [int] NULL,
	[OportunidadBonos] [int] NULL,
	[FlagSalarioMinimo] [int] NULL,
	[FlagComisionista] [int] NULL,
	[FlagOcupada] [int] NULL,
	[Edad] [decimal](18, 4) NULL,
	[TipoContrato] [nvarchar](100) NULL,
	[CategoriaPuesto] [nvarchar](100) NULL,
	[Moneda] [nvarchar](3) NULL,
	[EstatusPuestoId] [int] NOT NULL,
	[MonedaId] [int] NULL,
	[ComisionesMonedaLocal] [decimal](18, 4) NULL,
	[SalarioBaseMonedaLocal] [decimal](18, 4) NULL,
	[TotalCashMonedaLocal] [decimal](18, 4) NULL,
	[MonedaLocalId] [int] NULL,
	[AreaPersonal] [nvarchar](50) NULL,
	[CategoriaPoliza] [nvarchar](50) NULL,
	[TipoPlanilla] [nvarchar](20) NULL,
	[GrupoClinica] [nvarchar](20) NULL,
 CONSTRAINT [PK_Puestos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstatusPuestos]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstatusPuestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EstatusPuestos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dotaciones]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dotaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PuestoId] [int] NOT NULL,
	[PeriodoId] [int] NOT NULL,
 CONSTRAINT [PK_Dotaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[Nombre] [nvarchar](255) NOT NULL,
	[Id] [nvarchar](3) NOT NULL,
	[MonedaCursoLegal] [nvarchar](3) NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Nombre] [nvarchar](255) NOT NULL,
	[PaisId] [nvarchar](3) NOT NULL,
	[Id] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Escenarios]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escenarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Comentario] [nvarchar](255) NULL,
 CONSTRAINT [PK_Escenarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Periodos]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Periodos](
	[Id] [int] NOT NULL,
	[Nombre] [nvarchar](255) NULL,
	[Tipo] [nvarchar](10) NULL,
	[Agrupador] [int] NOT NULL,
	[FechaInicial] [date] NOT NULL,
	[FechaFinal] [date] NOT NULL,
	[Mes] [int] NOT NULL,
 CONSTRAINT [PK_Periodos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vDotacion]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDotacion]
AS
SELECT Escenarios.Id AS EscenarioId, Escenarios.Nombre AS [Nombre Escenario], Puestos.PresupuestoId, Puestos.PosicionId, Puestos.NombrePosicion, Puestos.EmpleadoId, Puestos.NombreEmpleado, Puestos.FechaEstatus, EstatusPuestos.Nombre AS [Estatus Puesto], 
             Dotaciones.PeriodoId AS Periodo, Periodos.Nombre AS [Nombre Periodo], Periodos.Tipo AS [Tipo Periodo], Periodos.Agrupador AS [Agrupador Periodo], Empresas.Nombre AS [Nombre Empresa], Paises.Nombre AS [Nombre Pais]
FROM   Escenarios INNER JOIN
             Puestos ON Escenarios.Id = Puestos.EscenarioId INNER JOIN
             Dotaciones ON Puestos.Id = Dotaciones.PuestoId INNER JOIN
             EstatusPuestos ON Puestos.EstatusPuestoId = EstatusPuestos.Id INNER JOIN
             Periodos ON Dotaciones.PeriodoId = Periodos.Id INNER JOIN
             Empresas ON Puestos.EmpresaId = Empresas.Id INNER JOIN
             Paises ON Empresas.PaisId = Paises.Id
GO
/****** Object:  Table [dbo].[CuentasContables]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuentasContables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](40) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
 CONSTRAINT [PK_CuentasContables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elementos]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elementos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Elementos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registros]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PeriodoId] [int] NOT NULL,
	[PuestoId] [int] NOT NULL,
	[ElementoId] [int] NOT NULL,
	[Valor] [decimal](18, 4) NOT NULL,
	[TipoDatoId] [int] NOT NULL,
	[MonedaId] [int] NOT NULL,
	[ValorDolarizado] [decimal](18, 4) NULL,
	[CuentaContableId] [int] NULL,
 CONSTRAINT [PK_Registros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CeCos]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CeCos](
	[Id] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Tipo] [nvarchar](10) NULL,
	[Grupo] [nvarchar](255) NULL,
	[CeCoPadre] [nvarchar](20) NULL,
 CONSTRAINT [PK_CeCos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDatos]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDatos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TipoDatos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vRegistros]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [dbo].[vRegistros] 
AS
SELECT Paises.Nombre AS Pais, Empresas.Nombre AS Empresa, Puestos.Id as PuestoId, Puestos.EscenarioId, Puestos.PresupuestoId, Puestos.PosicionId, Puestos.NombrePosicion, Puestos.PuestoId AS [Puesto ID Sistema], Puestos.GradoId, Puestos.EmpleadoId, Puestos.NombreEmpleado, Puestos.Negocio, Puestos.Division, 
             Puestos.Departamento, Puestos.Vicepresidencia, CeCos.Nombre AS [Nombre CeCo], CeCos.Grupo AS [Grupo CeCo], Puestos.TipoContrato, Puestos.CategoriaPuesto, EstatusPuestos.Nombre AS [Estatus Puesto], Registros.Id AS [Registro Id], Registros.PeriodoId, 
             Periodos.Nombre AS [Nombre Periodo], Periodos.Tipo AS [Tipo Periodo], Periodos.Agrupador AS [Agrupador Periodo], Elementos.Nombre AS [Nombre Elemento], TipoDatos.Nombre AS [Tipo Dato], Puestos.FechaEstatus, Puestos.MotivoEstatus, Registros.Valor, Registros.ValorDolarizado,
             Puestos.CeCoId, CC.Codigo as CodigoCuenta, CC.Nombre AS NombreCuenta, CC.Codigo + '-' + CC.Nombre as CuentaContable
FROM   EstatusPuestos INNER JOIN
             Paises INNER JOIN
             Puestos INNER JOIN
             Registros ON Puestos.Id = Registros.PuestoId INNER JOIN
             Periodos ON Registros.PeriodoId = Periodos.Id INNER JOIN
             Elementos ON Registros.ElementoId = Elementos.Id INNER JOIN
             TipoDatos ON Registros.TipoDatoId = TipoDatos.Id INNER JOIN
             Empresas ON Puestos.EmpresaId = Empresas.Id ON Paises.Id = Empresas.PaisId INNER JOIN
             CeCos ON Puestos.CeCoId = CeCos.Id ON EstatusPuestos.Id = Puestos.EstatusPuestoId
			 LEFT JOIN CuentasContables AS CC ON Registros.CuentaContableId = CC.Id;
			 ;

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignaciones]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](20) NOT NULL,
	[EmpresaId] [nvarchar](5) NOT NULL,
	[EscenarioId] [int] NOT NULL,
	[FechaInicial] [date] NULL,
	[FechaFinal] [date] NULL,
	[ElementoId] [int] NOT NULL,
	[TipoDatoId] [int] NOT NULL,
	[MonedaId] [int] NOT NULL,
	[ValorMensual] [decimal](18, 4) NOT NULL,
	[Criterio] [nvarchar](255) NULL,
 CONSTRAINT [PK_Asignaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distribuciones]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distribuciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](20) NOT NULL,
	[EmpresaId] [nvarchar](5) NOT NULL,
	[EscenarioId] [int] NOT NULL,
	[FechaInicial] [date] NULL,
	[FechaFinal] [date] NULL,
	[ElementoId] [int] NOT NULL,
	[TipoDatoId] [int] NOT NULL,
	[MonedaId] [int] NOT NULL,
	[ValorMensual] [decimal](18, 4) NOT NULL,
	[Criterio] [nvarchar](255) NULL,
 CONSTRAINT [PK_Distribuciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElementosCuentas]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementosCuentas](
	[ElementoId] [int] NOT NULL,
	[CuentaContableId] [int] NOT NULL,
	[EmpresaId] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_ElementosCuentas] PRIMARY KEY CLUSTERED 
(
	[ElementoId] ASC,
	[CuentaContableId] ASC,
	[EmpresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Importaciones]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Importaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Modelo] [nvarchar](255) NOT NULL,
	[ReemplazarDatosExistentes] [bit] NOT NULL,
	[RutaArchivo] [nvarchar](500) NULL,
	[Tabla] [nvarchar](255) NULL,
 CONSTRAINT [PK_Importaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MapImpors]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapImpors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCampo] [nvarchar](255) NULL,
	[TipoSql] [nvarchar](100) NULL,
	[TipoNet] [nvarchar](100) NULL,
	[Nullable] [bit] NOT NULL,
	[MaxLength] [int] NOT NULL,
	[NombreColumna] [nvarchar](255) NULL,
	[ImportacionId] [int] NOT NULL,
 CONSTRAINT [PK_MapImpors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matrices]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matrices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [nvarchar](20) NOT NULL,
	[EmpresaId] [nvarchar](5) NOT NULL,
	[EscenarioId] [int] NOT NULL,
	[CategoriaPoliza] [nvarchar](50) NULL,
	[CategoriaPuesto] [nvarchar](100) NULL,
	[FechaInicial] [date] NULL,
	[FechaFinal] [date] NULL,
	[Valor] [float] NULL,
	[EdadMinima] [int] NULL,
	[EdadMaxima] [int] NULL,
	[FlagComisionista] [int] NULL,
	[AreaPersonal] [nvarchar](50) NULL,
	[TipoPlanilla] [nvarchar](20) NULL,
	[TipoCalculo] [nvarchar](20) NULL,
	[MonedaId] [int] NULL,
 CONSTRAINT [PK_Matrices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monedas]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monedas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Simbolo] [nvarchar](max) NOT NULL,
	[TipoCambio] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_Monedas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parametros]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametros](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaId] [nvarchar](5) NOT NULL,
	[EscenarioId] [int] NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Valor] [float] NULL,
	[FechaInicial] [date] NULL,
	[Clave] [nvarchar](10) NOT NULL,
	[FechaFinal] [date] NULL,
	[ValorMaximo] [float] NULL,
 CONSTRAINT [PK_Parametros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procesos]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procesos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Ejecutar] [bit] NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_Procesos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PuestoConceptos]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuestoConceptos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PresupuestoId] [int] NOT NULL,
	[EscenarioId] [int] NOT NULL,
	[Concepto] [nvarchar](50) NOT NULL,
	[FechaInicial] [date] NULL,
	[FechaFinal] [date] NULL,
	[ElementoId] [int] NOT NULL,
	[TipoDatoId] [int] NOT NULL,
	[MonedaId] [int] NOT NULL,
	[ValorMensual] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_PuestoConceptos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rutinas]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rutinas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Codigo] [nvarchar](max) NOT NULL,
	[Ejecutado] [bit] NULL,
	[FechaEjecutado] [datetime2](7) NULL,
	[RegistrosAfectados] [int] NULL,
	[SubProcesoId] [int] NOT NULL,
	[Comentarios] [nvarchar](500) NULL,
	[Error] [nvarchar](2000) NULL,
	[TieneError] [bit] NULL,
	[Orden] [int] NOT NULL,
	[Ejecutar] [bit] NOT NULL,
 CONSTRAINT [PK_Rutinas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubProcesos]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubProcesos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[ProcesoId] [int] NOT NULL,
	[Ejecutar] [bit] NULL,
	[Orden] [int] NULL,
 CONSTRAINT [PK_SubProcesos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasas]    Script Date: 03/09/2026 11:00:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasas](
	[PaisId] [nvarchar](3) NOT NULL,
	[PeriodoId] [int] NOT NULL,
	[Valor] [decimal](18, 4) NOT NULL,
	[ValorPlan] [decimal](18, 4) NULL,
 CONSTRAINT [PK_Tasas] PRIMARY KEY CLUSTERED 
(
	[PaisId] ASC,
	[PeriodoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (N'') FOR [PaisId]
GO
ALTER TABLE [dbo].[Paises] ADD  DEFAULT (N'') FOR [Id]
GO
ALTER TABLE [dbo].[Periodos] ADD  DEFAULT ((0)) FOR [Mes]
GO
ALTER TABLE [dbo].[Puestos] ADD  DEFAULT ((0)) FOR [EstatusPuestoId]
GO
ALTER TABLE [dbo].[Registros] ADD  DEFAULT ((0)) FOR [TipoDatoId]
GO
ALTER TABLE [dbo].[Registros] ADD  DEFAULT ((0)) FOR [MonedaId]
GO
ALTER TABLE [dbo].[Rutinas] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[Rutinas] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Ejecutar]
GO
ALTER TABLE [dbo].[Dotaciones]  WITH CHECK ADD  CONSTRAINT [FK_Dotaciones_Periodos_PeriodoId] FOREIGN KEY([PeriodoId])
REFERENCES [dbo].[Periodos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dotaciones] CHECK CONSTRAINT [FK_Dotaciones_Periodos_PeriodoId]
GO
ALTER TABLE [dbo].[Dotaciones]  WITH CHECK ADD  CONSTRAINT [FK_Dotaciones_Puestos_PuestoId] FOREIGN KEY([PuestoId])
REFERENCES [dbo].[Puestos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dotaciones] CHECK CONSTRAINT [FK_Dotaciones_Puestos_PuestoId]
GO
ALTER TABLE [dbo].[ElementosCuentas]  WITH CHECK ADD  CONSTRAINT [FK_ElementosCuentas_CuentasContables_CuentaContableId] FOREIGN KEY([CuentaContableId])
REFERENCES [dbo].[CuentasContables] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ElementosCuentas] CHECK CONSTRAINT [FK_ElementosCuentas_CuentasContables_CuentaContableId]
GO
ALTER TABLE [dbo].[ElementosCuentas]  WITH CHECK ADD  CONSTRAINT [FK_ElementosCuentas_Elementos_ElementoId] FOREIGN KEY([ElementoId])
REFERENCES [dbo].[Elementos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ElementosCuentas] CHECK CONSTRAINT [FK_ElementosCuentas_Elementos_ElementoId]
GO
ALTER TABLE [dbo].[ElementosCuentas]  WITH CHECK ADD  CONSTRAINT [FK_ElementosCuentas_Empresas_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ElementosCuentas] CHECK CONSTRAINT [FK_ElementosCuentas_Empresas_EmpresaId]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_Paises_PaisId] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Paises] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_Paises_PaisId]
GO
ALTER TABLE [dbo].[MapImpors]  WITH CHECK ADD  CONSTRAINT [FK_MapImpors_Importaciones_ImportacionId] FOREIGN KEY([ImportacionId])
REFERENCES [dbo].[Importaciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MapImpors] CHECK CONSTRAINT [FK_MapImpors_Importaciones_ImportacionId]
GO
ALTER TABLE [dbo].[Parametros]  WITH CHECK ADD  CONSTRAINT [FK_Parametros_Empresas_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parametros] CHECK CONSTRAINT [FK_Parametros_Empresas_EmpresaId]
GO
ALTER TABLE [dbo].[Parametros]  WITH CHECK ADD  CONSTRAINT [FK_Parametros_Escenarios_EscenarioId] FOREIGN KEY([EscenarioId])
REFERENCES [dbo].[Escenarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parametros] CHECK CONSTRAINT [FK_Parametros_Escenarios_EscenarioId]
GO
ALTER TABLE [dbo].[Puestos]  WITH CHECK ADD  CONSTRAINT [FK_Puestos_CeCos_CeCoId] FOREIGN KEY([CeCoId])
REFERENCES [dbo].[CeCos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Puestos] CHECK CONSTRAINT [FK_Puestos_CeCos_CeCoId]
GO
ALTER TABLE [dbo].[Puestos]  WITH CHECK ADD  CONSTRAINT [FK_Puestos_Empresas_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Puestos] CHECK CONSTRAINT [FK_Puestos_Empresas_EmpresaId]
GO
ALTER TABLE [dbo].[Puestos]  WITH CHECK ADD  CONSTRAINT [FK_Puestos_Escenarios_EscenarioId] FOREIGN KEY([EscenarioId])
REFERENCES [dbo].[Escenarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Puestos] CHECK CONSTRAINT [FK_Puestos_Escenarios_EscenarioId]
GO
ALTER TABLE [dbo].[Puestos]  WITH CHECK ADD  CONSTRAINT [FK_Puestos_EstatusPuestos_EstatusPuestoId] FOREIGN KEY([EstatusPuestoId])
REFERENCES [dbo].[EstatusPuestos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Puestos] CHECK CONSTRAINT [FK_Puestos_EstatusPuestos_EstatusPuestoId]
GO
ALTER TABLE [dbo].[Registros]  WITH CHECK ADD  CONSTRAINT [FK_Registros_Elementos_ElementoId] FOREIGN KEY([ElementoId])
REFERENCES [dbo].[Elementos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registros] CHECK CONSTRAINT [FK_Registros_Elementos_ElementoId]
GO
ALTER TABLE [dbo].[Registros]  WITH CHECK ADD  CONSTRAINT [FK_Registros_Periodos_PeriodoId] FOREIGN KEY([PeriodoId])
REFERENCES [dbo].[Periodos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registros] CHECK CONSTRAINT [FK_Registros_Periodos_PeriodoId]
GO
ALTER TABLE [dbo].[Registros]  WITH CHECK ADD  CONSTRAINT [FK_Registros_Puestos_PuestoId] FOREIGN KEY([PuestoId])
REFERENCES [dbo].[Puestos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registros] CHECK CONSTRAINT [FK_Registros_Puestos_PuestoId]
GO
ALTER TABLE [dbo].[Registros]  WITH CHECK ADD  CONSTRAINT [FK_Registros_TipoDatos_TipoDatoId] FOREIGN KEY([TipoDatoId])
REFERENCES [dbo].[TipoDatos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registros] CHECK CONSTRAINT [FK_Registros_TipoDatos_TipoDatoId]
GO
ALTER TABLE [dbo].[Rutinas]  WITH CHECK ADD  CONSTRAINT [FK_Rutinas_SubProcesos_SubProcesoId] FOREIGN KEY([SubProcesoId])
REFERENCES [dbo].[SubProcesos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rutinas] CHECK CONSTRAINT [FK_Rutinas_SubProcesos_SubProcesoId]
GO
ALTER TABLE [dbo].[SubProcesos]  WITH CHECK ADD  CONSTRAINT [FK_SubProcesos_Procesos_ProcesoId] FOREIGN KEY([ProcesoId])
REFERENCES [dbo].[Procesos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubProcesos] CHECK CONSTRAINT [FK_SubProcesos_Procesos_ProcesoId]
GO
ALTER TABLE [dbo].[Tasas]  WITH CHECK ADD  CONSTRAINT [FK_Tasas_Paises_PaisId] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Paises] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasas] CHECK CONSTRAINT [FK_Tasas_Paises_PaisId]
GO
ALTER TABLE [dbo].[Tasas]  WITH CHECK ADD  CONSTRAINT [FK_Tasas_Periodos_PeriodoId] FOREIGN KEY([PeriodoId])
REFERENCES [dbo].[Periodos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasas] CHECK CONSTRAINT [FK_Tasas_Periodos_PeriodoId]
GO
